<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PassLock"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="false" />
        <activity
            android:name=".NewPassLockActivity"
            android:exported="false" />

        <activity
            android:name=".SuggestPasswordsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPassLockActivity"
            android:exported="false" />

        <activity
            android:name=".PasswordTestActivity"
            android:exported="false" />
        <activity
            android:name=".ComparePasswordsActivity"
            android:exported="false" />
        <activity android:name=".PasswordTipsActivity" />
        <receiver android:name=".PasslockNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.passlock.SEND_NOTIFICATION"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ViewUserPasslocksActivity"
            android:exported="false" />
        <activity
            android:name=".EditSuggestedPasslocksActivity"
            android:exported="false" />
        <activity
            android:name=".ManagePasswordTipsActivity"
            android:exported="false" />

        <activity
            android:name=".CompareUserWalletActivity"
            android:exported="false" />

    </application>

</manifest>